body{
background-color: #c4c4c4;
display: flex;
align-items: center;
justify-content: center;
}

:root{
    --rosaClaro : rgb(218, 194, 206);
    --rosaEscuro:rgb(214, 133, 174);
    --rocho :rgb(76, 23, 121);
}

#root{
    margin-top: 10%;
}

div{
    display: flex;    
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.divInput{
    width: 423px;
    height: 350px;
    justify-content: center;
    align-items: center;

    background-color: var(--rosaEscuro);

    border: solid 2px black;
    border-radius: 5px;
    box-shadow:  3px 2px 5px rgb(54, 53, 53);

}

input{
    width: 65%;
    height: 35px;

    margin-top: 18%;

    background-color: var(--rosaClaro);

    border: solid 2px black;
    border-radius: 3px;
    box-shadow:  3px 2px 5px rgb(54, 53, 53);

}

button{
    width: 40%;
    height: 30px;

    margin-top: 5%;

    background-color: var(--rosaClaro);

    border: solid 2px black;
    border-radius: 3px;
    box-shadow:  3px 2px 5px rgb(54, 53, 53);

}

